@model List<DemoCCM.Models.MapOfUser>

@using DemoCCM.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string a = null;
}  
         @* String LevelID1, String topicId1, String ConceptID*@
              
                  <table>
                  <tr>
                     <th>Tên Map</th>  <td></td>
                  </tr>
               @foreach (var l in Model)
               {

                     <tr>
                         <td>
                            
                                   <p class="mapname">@l.MapName</p>
                              
                         </td>
                         <td><a href="@Url.Action("Load","MapOfUser",new {MapID= l.MapID})">Xem</a> </td>
                     </tr>
                                  
                        
               }
                  </table>
               
               
                    
  
              
                           
                       
                  
               
               
          