html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}
.imag {
    width:20px;
    height:20px;
    float:left;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
  background-color:#F6F6F6;
  color: #7A7A68;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
  margin-left: 100px;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #009FBC;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 120% arial;
}

h5, h6 { 
  color: #bbb;
  font: italic 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #09D4FF;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

header { 
  background: #404040;
  height: 200px;
  border-bottom: 1px solid #FFF;
}

#logo {
  font-family: Yanone Kaffeesatz;  
  width: 1000px;
  height: 200px;
  background: transparent url(images/logo.png) no-repeat right;
  color: #888;
  padding: 0;
}

#logo #logo_text { 
  top: 5px;
  left: 0;
}
div#logo_text img {
    padding-top: 30px;
    width:120px;
    height:auto;
}

#logo h1, #logo h2 { 
  font: normal 300% 'Yanone Kaffeesatz', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 10px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 150%;
  padding: 0 0 0 0;
  color: #A8AA94;
}
#spacing{
        width:100%;
        height:50px;
        background-color:#09D4FF;
    border-bottom: 1px solid #ddd;
        }
#main_content{
        margin:0;
        padding:0;

        
        }
#menu_container { 
  width: 1000px;
  margin: 0 auto 0 auto;
}
#site_content { 
  width: 70%;
  overflow: hidden;
  margin: 0;
  border: 1px solid #ddd;
  border-top:none;
  min-height:500px;
  height:auto;
  float:left;
  background-color:#fff;
  
} 
/*-- left nav --*/

ul.nav_left{
        list-style: none;
        padding:0;
        margin: 0;
        width:100%;
        height:auto;
        display:block;  
}
ul.nav_left li{
        padding:0;
        margin: 0;
        border-bottom: 1px solid #ddd;
        display: list-item;
        text-align: -webkit-match-parent;
        
}
ul.nav_left li a {
        display: block;
        border-left: 5px solid #f6f6f6;
        text-decoration: none;
        color: #666;
        font-size: 1.3em;
        line-height: 3.0em;
        font-weight: bold;
        text-indent: 2.5em;
        white-space: nowrap;
        
}
/*ul.nav_left li a:hover,ul.nav_left li a:focus{
        outline: none;
        margin-right: -1px;
        border-left: 5px solid #09D4FF;
        background: #fff;
        }*/
.left_menu{
        width:15%;
        position: relative;
        height:auto;
        float:left;
        }

.right_content{
        width:15%;
        height:300px;
        float:left;
        
        }

#login-register{
    padding: 2px 20px 2px 20px;
    position:absolute;
   height: 400px;
    top:0px;
    right:40px;
    background-color:#F6F6F6;
    height:20px;
    min-width:140px;
    width:auto;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-align:center;
}
.content { 
  text-align: left;
  width: 700px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

footer {
  width: 100%;
  font-family: 'lucida sans', sans-serif;
  font-size: 90%;
  height: 60px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: #404040 url(images/footer.png) repeat-x;
  color: #A8AA94;
  margin: 0 0 0 0;
  position:relative;
  clear:both;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #A8AA94;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: none;
}
  /* scroll to top */
#scroll { 
  position: relative; 
  width: 1000px;
  margin: 0 auto;
  bottom: 14px; 
  right: 0;
  background: red;
  padding: 0;
}
  
#scroll a { 
  float: right;
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
}
  
#scroll a img { 
  float: right;
  padding: 0 0 0 0;
  margin: 0;
}

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 200px;
}
/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
  margin-right:20px;
}

ul.sf-menu { 
  margin-right: 20%;
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
/* Theming the menu */

nav { 
  height: 50px;
  width: 100%;
  margin: -50px auto 0 auto;
  background: transparent url(images/menubar.png) repeat;
}
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: url(images/menu_hover.png) repeat;
  margin-top: 5px;
 
}

ul#nav li a { 
  padding:12px 20px 6px 20px;
  font: 150% 'Yanone Kaffeesatz',helvetica,arial,verdana,sans;
  text-shadow: 1px 1px #000;
  text-decoration:none;
  color:#FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  color:#09D4FF;
}
/*-- slide*/
.item:hover {
        -webkit-box-shadow: 0 0 8px #ffb609, 0 0 8px #ffb609;
        -moz-box-shadow: 0 0 8px #ffb609, 0 0 8px #ffb609;
        box-shadow: 0 0 8px #ffb609, 0 0 8px #ffb609;
}
.item {
        border-radius: 15px;
        width: 180px;
        height: 185px;
        background-color: #FCF7F7;
        margin: 10px;
        float: left;
        -webkit-box-shadow: 0 1px 3px #ffb609;
        -moz-box-shadow: 0 1px 3px #ffb609;
        box-shadow: 0 1px 3px #ffb609;
        overflow: hidden;
        -webkit-transition: box-shadow 0.2s ease-in-out;
        -moz-transition: box-shadow 0.2s ease-in-out;
        -o-transition: box-shadow 0.2s ease-in-out;
        -ms-transition: box-shadow 0.2s ease-in-out;
        transition: box-shadow 0.2s ease-in-out;
}
.item h3 {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 120%;
        font-weight: normal;
        padding: 5px 0 0 8px;
        color: #2d2d2d;
        text-decoration: none;
        display: block;
        font-size: 1.17em;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        text-align:center;
        font-weight: bold;
}
div.item a:-webkit-any-link {
        color: -webkit-link;
        text-decoration: underline;
        cursor: auto;
}
.item img {
        display: block;
        width: 100%;
    height:140px;
        -webkit-box-shadow: 0 2px 1px #c3c3c3;
        -moz-box-shadow: 0 2px 1px #c3c3c3;
        box-shadow: 0 2px 1px #c3c3c3;
        border-radius: 15px 15px 0 0;
        opacity: 0.8;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
}
div.pict{
        display:inline-block;
    padding-top: 30px;
        padding-left:45px;
    min-height:500px;
        width:auto;
        height:auto;    
}


/**Login*/
#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: 280px;
    width: 400px; 
    padding: 30px;
    margin:50px auto;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#login:before
{
  
}

/*--------------------*/

#login h1
{
   
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 10px 0;
   padding-bottom:20px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#login h1:after, #login h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 30px;
    width: 120px;   
}

#login h1:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

#login h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

/*--------------------*/

#login fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

#inputs input
{
    background: #f1f1f1 url(images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username
{
    background-position: 5px -2px !important;
}

#password
{
    background-position: 5px -52px !important;
}

#inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions
{
    margin: 25px 0 0 0;
}

.submit input
{		
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    margin-top:-5px;
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

.submit input:hover,.submit input:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

.submit input:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit input::-moz-focus-inner
{
  border: none;
}
.login-help{
    float: right;
    line-height: 35px;
    margin-left: 10px;
   
}


table, td, th {
  margin-top: 10px;
border: 1px thin blue;
border-color: #16499a;
margin-left: 10px;

}
tr {
    width:100px;
}

th {background-color:#7dbbe4; color:white;}
td {color:#321}

.mapname {
    font-size: 15px;
    text-align: center;
    color: #3989cc;
    margin-right: 70px;
}