@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	}

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

#trash{
   margin:0;
   padding:0;
   float:left;
   width:80%;
   height:100%;
}


#bottombar {
	position: fixed;
	width: 100%;
	bottom: 0;
	background:rgba(0, 0, 0, 0) !important;
	border-top: 1px solid #AAA;
	width:100%;
	height:50px;
}

 div {
    display: block;
}
 #canvas-container {
    position:relative;
    margin:0;
    padding:0;
    
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
#area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#area::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#area::-webkit-scrollbar-thumb
{
	background-color: #78b7fc;
}

/*#area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#area::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#area::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}*/

#area {
    padding-left:10px;
    padding-top:10px;
    margin-top: 80px;
    margin-left: 20px;
    border: 1px solid #cfcdc7;
    width: 300px;
    height: 300px;
    background-color:#FCFCFC;
    overflow-y:auto;
}
.separator {
    float: left;
    width: 300px;
    height: 1px;
    background: #cfcdc7;
    border-top: 1px solid #fff;
    margin: 0 7px 10px 20px;
}
 #tool-container {
    margin-left:1000px;
    width:auto;
    height:700px;
    background-color:#d9dee2;
    border-left: 1px solid #ccc;
    box-shadow: 0px -1px 10px rgba(50, 50, 50, 0.2);
    /*border-top-left-radius: 6px;
    border-top-right-radius: 6px;*/
}

#toolTOPbar {
  /*background-color: #DDDCDC;*/
  height:60px;
 
}
#toolTOPbar a {
    
     float:left;
     margin-top:22px;
     margin-left:20px;
     margin-right: 10px;
     font-size:16px;
}
#toolAdd {
    padding:10px;
    width:auto;
    height:50px;
      
}
#toolAdd select {
  
  height: 28px;
  width: 120px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: orange;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    }
/*button.addbutton, button.removebutton,button.newbutton{
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 80px;
}
button.addbutton:hover,button.removebutton:hover,button.newbutton:hover{
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}*/
#btncenter {
    width:280px;
    margin:auto;

}
#btncenter img {
    width:40px;
    height:auto; 
    cursor:pointer;
    display:inline-block;
    text-align:center;
    border:1px dashed #d9dee2;
}
#btncenter img:hover {
   border:1px dashed #f2f2f2;
}
#btncenter a {
    text-decoration:none;
    color:#979797;
    
}
#btncenter a:hover {
    text-decoration:underline;
    color:#979797;
}
#btncenter div{
    width:60px; 
    height:60px; 
    float:left;
    text-align:center;
    margin:10px 10px 20px 10px;
}
#centerbarbot {
        width: 2800px;
        height: auto;
        margin:30px auto auto 30px;
}

#centerbarbot img {
    width:40px;
    height:auto; 
    cursor:pointer;
    display:inline-block;
    text-align:center;
}
#centerbarbot a {
    text-decoration:none;
    color:#979797;
    
}
#centerbarbot a:hover {
    text-decoration:underline;
    color:#979797;
}
#centerbarbot div{
    width:60px; 
    height:60px; 
    float:left;
    text-align:center;
    margin:5px;
}

#quest {
    float:left;
    margin:18px auto 8px 0;
}

#concept1 select {
    float:left;
    width:100px;
    margin-left:10px;
    margin-top:15px;
    margin-bottom: 30px;
}
#concept2 select {
    float:left;
    width:100px;
    margin-left:10px;
    margin-top:15px;
    margin-bottom: 30px;
}
#link select {
    float:left;   
    width:80px;
    margin-left:10px;
    margin-top:15px;
    margin-bottom: 30px;
}
 .concept {
  border-radius:5px;
  Border:3px solid #78b7fc;
  background-color:#78b7fc;
  position: absolute; 
  padding: 5px 10px; 
  font-size: 0.8em;
  color:white;
  text-align:center;
  font-weight:bold;
 
 
}
 .relationFalseDiv{
    border:2px solid red;
    border-radius:5px;
 }
 .relationFalseLabel{
   color:red;
 }
 .concept:hover {   
    cursor:move;
 }

#container {
  float:left;
  width:1000px;
  background: url("images/grid.gif");
 
}

#concepts {
    margin-left:6px;
  float:left;
  width:300px;
  height: 400px;
  border: 1px solid #999;
}

.relation {
  position: absolute;
  background-color: #ddd;
  opacity: 0.8;
  padding: 2px 5px;
  font-size: 0.8em;
  font-weight:bold;
}

/* STYLE DROPDOWLIST*/

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: orange;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/*STYLE CHECKBOX*/
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 16px;
}

input[type=radio],input[type=checkbox] {
	display: none;
    
}
label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #E0D9D9;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
	border-radius: 8px;
}
#area label {
	margin-bottom: 10px;
}
#area label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

#area input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #78b7fc;
	text-align: center;
    line-height: 15px;
}


#dialog {
    width:300px;
    height:300px;
    background-color:red;
}
.buttonS{

    background-color:rgba(0, 0, 0, 0.08)
}

.deactivated { 
    pointer-events: none;
     cursor: default;
     background-color:#cfcdc7;
     border-radius:5px;
}