@model List<DemoCCM.Models.ConceptsForTopic>

<header>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("Text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("Text");
            ev.target.appendChild(document.getElementById(data));
        }
</script>
    <style type="text/css">
#div2 { width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
</style>
</header>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>

@*<img id="drag1" src="img_logo.gif" draggable="true" ondragstart="drag(event)" width="336" height="69">

*@
 <div id="leftbox">
     concept
                  @foreach (var item in Model)
                  {
                      <div id="drag1" draggable="true" ondragstart="drag(event)" width="336" height="69" >@item.ConceptAll.ConceptName @item.ConceptAll.ConceptID</div>
                  }
                  @{
                      var l = new SelectList(Model,"Question","Question");
                      @Html.DropDownList("Question",(IEnumerable<SelectListItem>)l  )
                  }
    </div>
@{Html.RenderAction("_LinkOfTopicPartial", "Topic", new {concept = Model});}

