@model List<DemoCCM.Models.ConceptsForTopic>

 <div id="leftbox">
     concept
                  @foreach (var item in Model)
                  {
                      <div>@item.ConceptAll.ConceptName @item.ConceptAll.ConceptID</div>
                  }
                  @{
                      var l = new SelectList(Model,"Question","Question");
                      @Html.DropDownList("Question",(IEnumerable<SelectListItem>)l)
                  }
    </div>
@{Html.RenderAction("_LinkOfTopicPartial", "Topic", new {concept = Model});}
