
@model IEnumerable<DemoCCM.Models.Link> 
<div id="leftbox">
    link
    @foreach (var item in Model)
     {
        <div>@item.Text @item.LinkID @item.ConceptID1 @item.ConceptID2</div>
      }
 </div>
               
               
    

 