
@model IEnumerable<DemoCCM.Models.Link> 
<div id="leftbox">
    <h3>Liên Kết</h3>
    @foreach (var item in Model)
     {
        <div class="boxc">@item.Text @item.LinkID @item.ConceptID1 @item.ConceptID2</div>
      }
 </div>
               
               
    

 