@model List<DemoCCM.Models.Link>

@{
    ViewBag.Title = "DanhGia";
}

<h2>Đánh giá</h2>

@foreach (var l in Model)
{
    @l.ConceptID1 @l.Text @l.ConceptID2 @l.Result.ToString()

}
    

