
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DrawLayout.cshtml";
    String levelID3 = ViewBag.levelID2 as String;
    String topicID3 = ViewBag.topicID2 as String;
}
<div id="container">
	<header>
		<div id="topbar">
    		<div id="toolbar">
                <img src="photos/logocc2.png" alt="Concept Map">
                  @Html.DropDownList("Question",(IEnumerable<SelectListItem>) ViewBag.cd)
            </div>
   		</div>
	</header>
    <div id="leftbar">   
              @{Html.RenderAction("_Concept_Topic_LevelPartial", "Topic", new { LevelID = levelID3, TopicID = topicID3});}
    </div>
    <div id="canvas-container">
        kkkkk
    </div>
    <footer>
    	<div id="bottombar"></div>
    </footer>
</div>

