@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	}
#container {
  position: relative; 
  height: auto !important;
  min-height: 100%;
}
#topbar {
  border-bottom: 1px solid #AAA;
  overflow: hidden; 
  width: 100%;
}
div {
	display: block;
}
#toolbar {
  background-color: #DDDCDC;
  overflow: hidden;
  height:50px;
  width: 100%;
}
#canvas-container {
	position: absolute;
	overflow: hidden;
    background: url("images/grid.gif");
	background-size: 24px 24px;
	width:100%;
	height:1000px;
}
#bottombar {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #DDDCDC;
	border-top: 1px solid #AAA;
	width:100%;
	height:50px;
}

#leftbar {
    margin:10px;
    position:fixed;
    z-index:3;
}
div#leftbar #leftbox {
    margin:10px;
    width:200px;
    height:250px;
    background-color:#e8e8e8;
    -webkit-box-shadow: 1px 2px 1px #808080;
	-moz-box-shadow: 1px 2px 1px #808080;
	box-shadow: 1px 2px 1px #808080;
    border-radius:5px;
}
div#toolbar img {
    height:50px;
    float:left;
}