@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	}
#container {
  position: relative; 
  height: auto !important;
  min-height: 100%;
}
#topbar {
  border-bottom: 1px solid #AAA;
  overflow: hidden; 
  width: 100%;
}
div {
    display: block;
}
#toolbar {
  background-color: #DDDCDC;
  overflow: hidden;
  height:50px;
  width: 100%;
}
#mapd {
   float:left;
   width:80%;
   height:100%;
}
#canvas-container {
    margin:0;
    height:700px;
    background: url("images/grid.gif");
	background-size: 24px 24px;
    
}
#bottombar {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #DDDCDC;
	border-top: 1px solid #AAA;
	width:100%;
	height:50px;
}

#leftbar {
    width:210px;
    height:700px;
    float:left;
}
#leftbox h3 {
    background-color:#fa870b;
    color:white;
    margin:0;
    text-align:center;
}
#leftbox {
    
    width:200px;
    height:250px;
    margin:20px 20px 0 10px;
    background-color:#ffffff;
    -webkit-box-shadow: 1px 2px 1px #808080;
	-moz-box-shadow: 1px 2px 1px #808080;
	box-shadow: 1px 2px 1px #808080;
    border: 1px solid #AAA;
    border-radius:2px;
}
div#toolbar img {
    height:50px;
    float:left;
}
div.boxc {
 z-index:1;
 border: 1px dashed #808080;   
}

