@model List<DemoCCM.Models.ConceptsForTopic>

@Scripts.Render("~/Scripts/js_style.js")

   <div class ="space"></div>
       <div class="title_box"> Khái Niệm <img id="updow1" src="~/Content/images/2.png" /></div>
          <div class="boxhide">
              <ul class="scope">
                  @foreach (var item in Model)
                  {
                      <li>@item.ConceptAll.ConceptName @item.ConceptAll.ConceptID</li>
                  }
                  @{
                      var l = new SelectList(Model,"Question","Question");
                      @Html.DropDownList("Question",(IEnumerable<SelectListItem>)l)
                  }
               </ul>
               
          </div>
@{Html.RenderAction("_LinkOfTopicPartial", "Topic", new {concept = Model});}
