@model List< DemoCCM.Models.Level>
<article class="left_content">
                <div class ="space"></div>
                <div class="title_box">Trình Độ</div>
                <ul class="left_menu">
              @foreach(var item in Model)
              {
                    <li>@Html.ActionLink(item.LevelName, "Topic_Level", "Level", new {levelID1 = item.LevelID },null)</li>
                     
              } 
                </ul> 
               
                <div class="title_box">My Info</div>
                <div class="border_box"></div>
    
 </article>