
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center_content">
                <div class="space"></div>
                <div class="center_title_bar">@ViewBag.Message</div>
        <div class="center_main_content">
            
        </div>
    </div>
